<% provide(:title, 'Edit Post') %>

<!-- Page Content -->

    <div class="row">

        <!-- Title -->
          <h1>Edit your post here:</h1>

        <!-- Blog Post Content Column -->
        <div class="col-lg-8">

            <%= render 'post_form' %>

        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">

            <%= render 'layouts/siderules' %>

            <%= render 'layouts/sidegoals' %>

            <%= render 'layouts/sidecategories' %>

            <%= render 'layouts/sidesearch' %>

        </div>

    </div>
    <!-- /.row -->

