                <% @posts.each do |eachpost| %>
                <% provide(:title, eachpost.title) %>
                <% end %>

<!-- Page Content -->

    <div class="row">

        <!-- Blog Post Content Column -->
        <div class="col-lg-8">

            <!-- Blog Post -->

            <!-- Title -->
            <% @posts.each do |eachpost| %>
            <h1><%= link_to eachpost.title, post_path(eachpost[:id]) %><span class="small">Day Number <%= eachpost.day %></span></h1>

            <!-- Preview Image -->

            <!-- Post Content -->

            <p><%= truncate eachpost.content, length: 150 %></p>
            <span class="btn btn-primary"><%= link_to "More...", post_path(eachpost[:id]) %></span>

            <% end %>
            <%= will_paginate @posts %>

        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">

            <%= render 'layouts/siderules' %>

            <%= render 'layouts/sidegoals' %>

            <%= render 'layouts/sidecategories' %>

            <%= render 'layouts/sidesearch' %>

        </div>

    </div>
    <!-- /.row -->

