<% provide(:title, @category.name) %>

    <div class="row">

        <!-- Blog category Content Column -->
        <div class="col-lg-8">

            <!-- Blog category -->

            <!-- Title -->
            <h1><%= @category.name %><span class="small">Week Number <%= @category.week %></span></h1>

            <!-- Preview Image -->

            <!-- category Content -->

            <p><%= @category.minicontent %></p>

                <hr>
                <p>FIX SO THAT IT SHOWS APPROPRIATE DAYS FOR EACH PROJECT</p>
                <h1><%= @post.title %><span class="small">Day Number <%= @post.day %></span></h1>
                <p><%= @post.content %></p>


        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">

            <%= render 'layouts/siderules' %>

            <%= render 'layouts/sidegoals' %>

            <%= render 'layouts/sidecategories' %>

            <%= render 'layouts/sidesearch' %>

        </div>

    </div>
    <!-- /.row -->

