<% provide(:title, @category.name) %>

    <div class="row">

        <div class="col-lg-8">

            <!-- Title -->
            <h1><%= @category.name %><span class="small">Week Number <%= @category.week %></span></h1>

            <!-- Preview Image -->

            <!-- category Content -->
            <p><%= @category.minicontent %></p>

            <%= link_to 'New Post', category_path, id:"new post" %>

<hr>
                <% @category.posts.each do |eachpost| %>
                <h1><%= eachpost.title %><span class="small">Day Number <%= eachpost.day %></span></h1>
                <p><%= eachpost.content %></p>
                <% end %>
<hr>
                <!-- Add new post Form -->
                    <div id="new post" class="well">
                        <h4>Enter New Post</h4>
                            <%= render 'post_form' %>
                    </div>

        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">

            <%= render 'layouts/siderules' %>

            <%= render 'layouts/sidegoals' %>

            <%= render 'layouts/sidecategories' %>

            <%= render 'layouts/sidesearch' %>

        </div>

    </div>
    <!-- /.row -->

